/* General styles */
* {
	box-sizing: border-box;
}

html, body {
	font-family: Lato, sans-serif;
	color: #291f1a;
	margin: 0px;
    padding: 0px;
}

span {
	color: #1ac056;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	text-align: center;
}

section {
	padding: 0 80px 100px;
	width: 100%;
}

section > h2 {
	font-size: 30px;
	font-weight: 300;
	margin-top: 60px;
	margin-bottom: 35px;
}

p {
	font-weight: 300;
	line-height: 25px;
}

/* Main menu styles */

#main_menu {
	position: fixed;
	background-color: #fff;
	width: 100%;
	right: 0;
	top: 0;
}

#main_menu > ul {
	float: right;
	margin: 0;
}

#main_menu > ul > li {
	display: inline-block;
	padding: 20px 40px;
	list-style: none;
}

#main_menu > ul > li > a {
	color: #1ac056;
	font-weight: 300;
	text-decoration: none;
}

#main_menu > ul > li > a:hover {
	color: #291f1a;
}

/* Main header styles */

#main_header {
	background-image: url(../img/header-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: #fff;	
}

#main_header .main_header_content {
	padding: 30vh;
	text-align: center;
}

#main_header .main_header_content > h1 {
	font-family: Roboto, sans-serif;
	font-size: 4em;
	font-weight: 200;
}

#main_header .main_header_content > h2 {
	font-size: 2em;
	font-weight: 200;
}

/* About me section styles */

#about {
	color: #291f1a;
	background-color: #f9fcfe;
	overflow: hidden;
}

#about > figure {
	width: 50%;
	margin: 0;
	float: left;
	text-align: center;
	
}

#about > article {
	width: 50%;
	float: right;
}

#about > figure > img {
	max-height: 350px;
	max-width: 100%;
	border: 15px #fff solid;
	border-radius: 20px;
}


/* Skills section styles */

#skills article {
	text-align: center;
}

#skills div#skills_icons {
	text-align: center;
}

#skills div#skills_icons figure {
	display: inline-block;
}

#skills #skills_icons figure img {
	margin-bottom: 15px;
}

#skills #skills_icons figure figcaption {
	text-align: center;
}

/* Contact section styles */


